<issue-list-toolbar loading="{{ loading }}"
                    filter="{{ filter }}"
                    on-refresh="{{ refresh.bind($data) }}"></issue-list-toolbar>

<div id="issue-list-table" class="container">
  <table class="table">
    <thead>
      <tr>
        <th class="issue-list-col-number">#</th>
        <th>Title</th>
        <th class="issue-list-col-triagelabel">Type</th>
        <th class="issue-list-col-triagelabel">Severity</th>
        <th class="issue-list-col-triagelabel">Affected</th>
        <th class="issue-list-col-labels">Labels</th>
        <th class="issue-list-col-score">Score</th>
      </tr>
    </thead>
    <tbody data-bind="foreach: sortedFilteredIssues">
      <tr>
        <td class="issue-list-col-number">
          <a data-bind="text: number, attr: { href: htmlUrl }" target="_blank"></a>
        </td>
        <td>
          <a data-bind="text: title, attr: { href: htmlUrl }" target="_blank"></a>
        </td>
        <td data-bind="if: type">
          <span class="label label-default" data-bind="text: type().shortText, style: { backgroundColor: typeColor }"></span>
        </td>
        <td data-bind="if: severity">
          <span class="label label-default" data-bind="text: severity().shortText, style: { backgroundColor: severityColor }"></span>
        </td>
        <td data-bind="if: affected">
          <span class="label label-default" data-bind="text: affected().shortText, style: { backgroundColor: affectedColor }"></span>
        </td>
        <td data-bind="foreach: unknownLabels">
          <span class="label label-default" data-bind="text: text, style: { backgroundColor: color }"></span>
        </td>
        <td class="issue-list-col-score">
          <span class="badge" data-bind="text: score"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<progress-panel caption="Loading issues&hellip;"
                visible="{{ loading }}"
                value="{{ loadingPercentage }}"></progress-panel>
