<!--
  The navigation UI that is docked to the top of the window.
  Parameters:
   * route: The currently selected navigation parameters.
-->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Knockout Triage</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <!-- Could generate this programmatically from the routes, but there's only two... -->
        <li data-bind="css: { active: route().triaged }">
          <a href="#" data-bind="text: triagedText"></a>
        </li>
        <li data-bind="css: { active: !route().triaged }">
          <a href="#untriaged" data-bind="text: untriagedText"></a>
        </li>

        <!-- When in mobile mode, left-align the login button -->
        <li class="visible-xs">
          <!-- ko component: { name: 'login-status', params: { mode: 'text' } } --><!-- /ko -->
        </li>
      </ul>

      <!-- When in desktop mode, right-align the login button -->
      <ul class="nav navbar-nav pull-right hidden-xs">
        <li><login-status params="mode: 'dropdown'"></login-status></li>
      </ul>
    </div>
  </div>
</div>