#toolbar {
	position: fixed;
	top: 50px;
	width: 100%;
	background-color: #ddd;
	padding: 6px 0;
	z-index: 1;
}

#issue-list-table {
	margin-top: 110px;
}

.progress-panel {
	position: fixed;
	bottom: 0; left: 0; right: 0;
	padding: 10px 50px;
	background-color: #ddd;
}

.progress-panel .progress {
	margin-bottom: 0;
}

.table .issue-list-col-number { width: 4em; text-align: right; }
.table .issue-list-col-triagelabel { width: 15em; padding: 0; height: 0; /* Weirdly, height:0 is necessary to make the following height:100% work */ }
.table .issue-list-col-triagelabel > .cell-filler { display: table; width: 100%; height: 100%; }
.table .issue-list-col-triagelabel a { display: table-cell; padding: 8px; text-decoration: none; }
.table .issue-list-col-triagelabel a:hover { background-color: #DEF; }
.table .issue-list-col-labels { width: 9em; }
#issue-list-table .label { font-size: 85%; }
.table .issue-list-col-score { text-align: right; }
.table .issue-list-col-score .badge  { background-color:#b94a48; font-size: 100%; }

.nav .login-dropdown {
	background-color: #304D8D;
	border-color: rgb(18, 19, 87);
	color: white;
}

.login-dropdown .glyphicon {
	font-size: 12px;
}

.nav .login-dropdown:hover, .nav .open .dropdown-toggle.btn-default.login-dropdown, .nav .open > a.login-dropdown {
	background-color: #5675BA;
	border-color: rgb(18, 19, 87);
	color: white;
}

label-selector {
	display: block;
}

label-selector button {
	width: 6em;
}

.selected-choice {
	font-weight: bold;
}

.triage-meta-warning {
	margin-top: 8px;
	font-weight: bold;
	color: red;
}

.inline-2-cols {
	display: inline-block;
	width: calc(50% - 6px);
	min-width: 15em;
}

.inline-2-cols:nth-child(n + 3) { margin-top: 5px; } /* Gap above all except first row (i.e., first two) */
.inline-2-cols:nth-child(2n + 1) { margin-right: 6px; } /* Gap to right of elements on left column */

.saving-row { opacity: 0.5; background-color: #ddd; }
.saving-row * { cursor: progress; }

label.form-control[for] { cursor: pointer; }

/* Stop the page shifting when a scrollbar appears due to a modal - hide the modal's scrollbar, but not the underlying page's */
.modal-open { overflow: auto; }
.modal::-webkit-scrollbar { width: 0 !important }